 <div class="user-details">
  <h1> About me </h1>
  <img class="Jay" src="{{ "/assets/img/SmallJay.jpg" | prepend: site.baseurl }}" alt="Jay-img" style="width:540px;height:auto;">
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Artificial Intelligence</h2>
      <img src="{{ "/assets/img/brain.png" | prepend: site.baseurl }}" alt="ai" width="64" height="64">
      <i class="fa fa-database"></i>
      <i class="fa fa-cloud"></i>
      <p>I'm very interested in artificial intelligence. Making strides towards developing a truly concious machine would allow us to understand ourselves. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
	  <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Javascript (specificially node.js), Lua and Python are my main development languages at the moment. I mostly use Lua for my game projects, as it is a lightweight and powerful scripting language. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <p>Git and VSCode are the tools that I use on a daily basis while developing my games.</p>
    </div>
</div>
