<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dragonengine=logo" src="{{ "/assets/img/Dragon_Engine_Logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dragon Engine </h3>
    <p>Dragon Engine is an opensourced game framework designed specifically for Roblox. It seamlessly bridges the gap between the server and client, prevents circular resource requirements, gives the server the ability to generate APIs that clients can access, and much more. </p>
    <a class="project-link" href="https://github.com/Reshiram110/Dragon-Engine">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ucm-logo" src="{{ "/assets/img/ucm-logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Computer Science degree at Complutense University of Madrid </h3>
    <p>Persistence, courage and incessant responsibility have been my key skills for becoming an outstanding Bachelor’s Computer Science degree student who can lead a solution for any problem.
      Through these years I've mostly developed a <a class="ref-link" href="{{site.l_gh-ifesoft}}">Java enterprise desktop application for congress management</a>, <a class="ref-link" href="{{site.l_gh-traffic-simulator}}">a traffic simulator with GUI</a> . Not finished yet.</p>
    <a class="project-link" href="{{site.l_cs-degree}}">Programme specification</a>
  </div>
</div>
