<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dragonengine=logo" src="{{ "/assets/img/Dragon_Engine_Logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dragon Engine </h3>
    <p>Dragon Engine is an opensourced game framework designed specifically for Roblox. It seamlessly bridges the gap between the server and client, prevents circular resource requirements, gives the server the ability to generate APIs that clients can access, and much more. </p>
    <a class="project-link" href="https://github.com/Reshiram110/Dragon-Engine">Check it out</a>
  </div>
</div>